<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
	<!-- Google tag (gtag.js) -->
	{% if env.isProd %}
		<script async src="https://www.googletagmanager.com/gtag/js?id={{ env.gId }}"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());
			gtag('config', '{{ env.gId }}');
		</script>
	{% endif %}
    <title>{{ title }}</title>
</head>
<body>
    <div class="relative h-full min-h-screen bg-gray-900 text-gray-100 flex flex-col">
		<div class="px-6 md:px-20 lg:px-48 w-full lg:w-[580px] mx-auto prose dark:prose-invert h-fit prose-img:mx-auto">
			<nav class="bg-[#3C4354] px-2 sm:px-4 py-2.5 fixed w-full z-20 top-0 left-0 border-b border-[#E4F0FF]">
			    <div class="container flex flex-wrap items-center justify-between mx-auto">
				    <a href="/" class="flex items-center">
					    <span class="text-white self-center text-xl font-semibold whitespace-nowrap">
						    Tommy Bernaciak
					    </span>
				    </a>

					<a href="/about" class="flex items-center">
					    <span class="text-white self-center text-sm font-semibold whitespace-nowrap">
						    About
					    </span>
				    </a>
				    {# <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky"></div> #}
			    </div>
		    </nav>
		</div>
		<main class="pt-16 pb-6 md:py-20 grow">
			<div class="px-6 md:px-20 lg:px-48 w-full lg:max-w-[1280px] mx-auto h-fit prose-img:mx-auto">
				{{ content | safe }}
			</div>
		</main>
		<div class="w-full h-10 bg-gray-800 text-white px-6 flex justify-center items-center">© 2022 Tommy Bernaciak. All rights reserved.</div>
	</div>
</body>
</html>